<section class="services container">
    <h2 class="services__title">OUR MOST POPULAR SERVICES</h2>
    <ul class="services__list">
        @@include('services/service.html', {
            "src": "/static/images/service-1.jpg",
            "title": "Carpet <br> Cleaning",
            "text": "When you choose Chem-Dry, you get deeper clean, faster-drying carpet and healthier home for you."
        })
        @@include('services/service.html', {
            "src": "/static/images/service-2.jpg",
            "title": "Carpet Cleaning",
            "text": "When you choose Chem-Dry, you get deeper clean, faster-drying carpet and healthier home for you."
        })
        @@include('services/service.html', {
            "src": "/static/images/service-3.jpg",
            "title": "Pet Stain <br> Removal",
            "text": "Here at Chem-Dry, we love our pets. They brighten up our day and they’re always there to support us, through thick."
        })
        @@include('services/service.html', {
            "src": "/static/images/service-4.jpg",
            "title": "Carpet Cleaning",
            "text": "When you choose Chem-Dry, you get deeper clean, faster-drying carpet and healthier home for you."
        })
    </ul>
</section>