<section class="services container">
    <h2 class="services__title">OUR MOST POPULAR SERVICES</h2>
    <ul class="services__list">
        @@include('services/service.html', {
            "src-desktop": "/static/images/service-desktop-1.jpg",
            "src-desktop-2x": "/static/images/service-tablet-1.jpg",
            "src-tablet": "/static/images/service-tablet-1.jpg",
            "src-mobile": "/static/images/service-mobile-1.jpg",
            "title": "Carpet Cleaning",
            "text": "When you choose Chem-Dry, you get deeper clean, faster-drying carpet and healthier home for you."
        })
        @@include('services/service.html', {
            "src-desktop": "/static/images/service-desktop-2.jpg",
            "src-desktop-2x": "/static/images/service-tablet-2.jpg",
            "src-tablet": "/static/images/service-tablet-2.jpg",
            "src-mobile": "/static/images/service-mobile-2.jpg",
            "title": "Tile & Grout Cleaning",
            "text": "One of the nicest touches to the basic architectural components of a home is ceramic or stone tile in kitchens, bathrooms"
        })
        @@include('services/service.html', {
            "src-desktop": "/static/images/service-desktop-3.jpg",
            "src-desktop-2x": "/static/images/service-tablet-3.jpg",
            "src-tablet": "/static/images/service-tablet-3.jpg",
            "src-mobile": "/static/images/service-mobile-3.jpg",
            "title": "Pet Stain Removal",
            "text": "Here at Chem-Dry, we love our pets. They brighten up our day and they’re always there to support us, through thick."
        })
        @@include('services/service.html', {
            "src-desktop": "/static/images/service-desktop-4.jpg",
            "src-desktop-2x": "/static/images/service-tablet-4.jpg",
            "src-tablet": "/static/images/service-tablet-4.jpg",
            "src-mobile": "/static/images/service-mobile-4.jpg",
            "title": "Commercial Cleaning",
            "text": "Companies spend millions of dollars on carpeting, upholstery, leather and area rugs"
        })
    </ul>
</section>