@import "../colors";

.modal-bg {
  display: none;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba($c_purple, 0.9);

  &__button-submit {

  }

  &__button-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;

    width: 15px;
    height: 15px;

    border: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      height: 15px;
      width: 2px;
      background-color: #121212;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      height: 15px;
      width: 2px;
      background-color: #121212;
      transform: rotate(-45deg);
    }
  }
}

.modal-bg_open {
  display: flex;
}

.modal-window {
  width: 680px;

  padding: 50px;

  margin: auto;

  background-color: $c_gray;

  position: relative;
}