<div class="modal-bg modal_js">
    <form action="/" class="modal-window">
        <div class="form-row">
            <div class="form-cell-50">
                <label class="form-lable mt0">
                    <input class="input-text" type="text" name="name" placeholder="Ivan Ivanov">
                    <span class="input-label-text">Name</span>
                </label>
            </div>
            <div class="form-cell-50">
                <label class="form-lable mt0">
                    <input class="input-text" type="tel" name="phone" value="8800">
                    <span class="input-label-text">Phone</span>
                </label>
            </div>
        </div>
        <label class="form-lable">
            <input class="input-text" type="email" name="email">
            <span class="input-label-text">E-mail</span>
        </label>
        <label class="form-lable">
            <input class="input-text" type="text" name="text">
            <span class="input-label-text">Message</span>
        </label>
        <button class="form-button button" type="submit">SUBMIT</button>
        <button class="button-close button-close_js" type="button" aria-label="exit"></button>
    </form>
</div>