@import "../colors";
@import "../vars";

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  padding-top: 33px;
  padding-bottom: 33px;

  @include media_interval($media_mobile, $media_tablet) {
    padding-top: 18px;
    padding-bottom: 17px;
  }

  @include media_interval(0, $media_mobile) {
    padding-top: 20px;
    padding-bottom: 18px;
  }

  //logo
  &__link-box {
    position: relative;
  }

  &__link {
    display: block;
    transition: opacity $tr_duration $tr_easing;

    &:hover {
      opacity: .7;
    }

    &:active {
      opacity: .4;
    }
  }

  &__logo {
    @include media_interval($media_mobile, $media_tablet) {
      height: 44px;
    }

    @include media_interval(0, $media_mobile) {
      height: 32px;
    }
  }

  //nav
  &__nav-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    padding-left: 25px;

    @include media_interval(0, $media_tablet) {
      display: none;
    }
  }

  &__nav-link {
    margin-right: 15px;

    font-weight: bold;
    font-size: 17px;
    line-height: 20px;

    color: #333333;

    transition: color $tr_duration $tr_easing;

    &:hover {
      color: #008752;
    }

    &:active {
      opacity: .5;

      color: #333333;
    }
  }

  //contacts
  &__contacts-list {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    display: flex;
    align-items: center;


    @include media_interval(0, $media_tablet) {
      padding-left: 0;
      margin-right: auto;
    }
  }

  &__contacts-phone {
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;

    color: $c_purple;

    margin-right: 24px;

    transition: color $tr_duration $tr_easing;

    &:hover {
      color: $c_purple--light;
    }

    &:active {
      color: $c_purple--dark;
    }

    @include media_interval(0, $media_mobile) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__contacts-link {
    @include media_interval(0, $media_tablet) {
      display: none;
    }
  }

  &__button-open-menu {
    margin-right: 20px;
    width: 32px;
    height: 32px;
    background-image: url(/static/images/burger.svg);
    background-position: center;
    background-color: transparent;
    border: none;

    @include media_interval($media_tablet, 0) {
      display: none;
    }
  }
}