@import "../colors";
@import "../vars";

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  padding-top: 33px;
  padding-bottom: 33px;

  //logo
  &__link-box {
    position: relative;
  }

  &__link {
    display: block;
    transition: opacity $tr_duration $tr_easing;

    &:hover {
      opacity: .7;
    }

    &:active {
      opacity: .4;
    }
  }

  //nav
  &__nav-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    padding-left: 25px;
  }

  &__nav-link {
    margin-right: 15px;

    font-weight: bold;
    font-size: 17px;
    line-height: 20px;

    color: #333333;

    transition: color $tr_duration $tr_easing;

    &:hover {
      color: #008752;
    }

    &:active {
      opacity: .5;

      color: #333333;
    }
  }

  //contacts
  &__contacts-list {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__contacts-phone {
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;

    color: $c_purple;

    margin-right: 24px;

    transition: color $tr_duration $tr_easing;

    &:hover {
      color: $c_purple--light;
    }

    &:active {
      color: $c_purple--dark;
    }
  }
}