.contact-us-title {
  font-weight: 900;
  font-size: 50px;
  line-height: 49px;

  text-align: center;

  color: #00559D;

  margin-top: 15px;
  margin-bottom: 56px;
}

.contact-us-form {
  padding: 50px 100px;

  background-color: #EEEEEE;

  width: 780px;

  margin: 56px auto 80px auto;
}