@import "../../components/colors";
@import "../../components/vars";
@import "../../components/mixins";

.contact-us {
  &__title {
    font-weight: 900;
    font-size: 50px;
    line-height: 49px;

    text-align: center;

    color: #00559D;

    margin-top: 15px;
    margin-bottom: 56px;
  }

  &__form {
    padding: 50px 100px;

    background-color: #EEEEEE;

    max-width: 780px;
    width: 100%;

    margin: 56px auto 80px auto;


    @include media_interval($media_mobile, $media_mobile-medium) {
      padding: 50px 60px;
    }

    @include media_interval(0, $media_mobile) {
      padding: 43px 25px;
    }
  }
}