$c_green--light: #26cd8b;
$c_green: #008752;
$c_green--dark: #005232;

$c_blue--light: #60a7e3;
$c_blue: #00559d;
$c_blue--dark: #17354f;

$c_white: #FFFFFF;

$c_black: #000000;
$c_black--light: #2c3036;

$c_purple--light: #d665dd;
$c_purple: #95459a;
$c_purple--dark: #722a77;

$c_gray: #EEEEEE;
$c_gray--dark: #6B6A6A;
$c_gray--dark-extra: #797979;

$c_yellow: #FFB612;