.partners {
  margin-top: 80px;
  margin-bottom: 80px;

  &__list {
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding-left: 0;
  }
}

.partners-list {
}

.partner {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: .2;
  }
}