@import "../vars";
@import "../mixins";

.partners {
  margin-top: 80px;
  margin-bottom: 80px;

  @include media_interval($media_mobile, $media_laptop) {
    margin-top: 50px;
    margin-bottom: 70px;
  }

  @include media_interval(0, $media_mobile) {
    margin-top: 24px;
    margin-bottom: 38px;
  }

  &__list {
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding-left: 0;
    margin: -12px;

    @include media_interval($media_mobile, $media_laptop) {
      justify-content: space-evenly;
    }

    @include media_interval(0, $media_mobile) {
      margin: -17px;
    }
  }
}

.partner {
  opacity: 0.5;
  transition: opacity $tr_duration $tr_easing;
  padding: 12px;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: .2;
  }


  @include media_interval($media_mobile, $media_laptop) {
    width: 20%;
    text-align: center;
  }

  @include media_interval(0, $media_mobile) {
    text-align: center;
    width: calc(100% / 3);
    padding: 17px;
  }

  &__img {
    @include media_interval(0, $media_mobile) {
      width: 81px;
      height: 81px;
    }
  }
}