@import "../colors";
@import "../vars";

.footer {
  background-color: $c_blue;

  padding-top: 53px;
  padding-bottom: 54px;

  @include media_interval($media_mobile, $media_laptop) {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  @include media_interval(0, $media_mobile) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__content {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
  }

  &__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 53px;

    color: $c_white;
    margin-top: 0;
    margin-bottom: 0;

    @include media_interval($media_mobile, $media_laptop) {
      font-size: 26px;
      line-height: 34px;
    }

    @include media_interval(0, $media_mobile) {
      font-size: 20px;
      line-height: 26px;
    }
  }
}

.social-list {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;

  margin: 0;

  @include media_interval(0, $media_mobile) {
    padding-left: 0;
    margin-top: 19px;
  }

  &__link {
    display: block;

    margin-left: 15px;

    width: 60px;
    height: 58px;

    @include media_interval($media_mobile, $media_laptop) {
      margin-left: 10px;
      width: 37px;
      height: 37px;
    }

    @include media_interval(0, $media_mobile) {
      margin-left: 0;
      margin-right: 18px;
      width: 32px;
      height: 32px;
    }

    path {
      transition: fill $tr_duration $tr_easing;
    }

    &:hover path {
      fill: $c_blue--light;
    }

    &:active path {
      fill: $c_blue--dark;
    }
  }

  &__link-image {
    @include media_interval($media_mobile, $media_laptop) {
      width: 37px;
      height: 37px;
    }

    @include media_interval(0, $media_mobile) {
      width: 32px;
      height: 32px;
    }
  }
}