@import "../colors";
@import "../vars";

.footer {
  background-color: $c_blue;

  padding-top: 53px;
  padding-bottom: 54px;

  &__content {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
  }

  &__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 53px;

    color: $c_white;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.social-list {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;

  margin: 0;

  &__link {
    display: block;

    margin-left: 15px;

    width: 60px;
    height: 58px;

    path {
      transition: fill $tr_duration $tr_easing;
    }

    &:hover path {
      fill: $c_blue--light;
    }

    &:active path {
      fill: $c_blue--dark;
    }
  }
}