
.footer {
  background-color: #00559D;

  padding-top: 53px;
  padding-bottom: 54px;
}

.footer-title {
  font-weight: 900;
  font-size: 40px;
  line-height: 53px;

  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
}

.social-list {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;

  margin: 0;
}

.social-link {
  display: block;

  margin-left: 15px;

  width: 60px;
  height: 58px;
}

.social-link:hover path {
  fill: #60A7E3;
}

.social-link:active path {
  fill: #17354F;
}