@import "../colors";
@import "../vars";
@import "../mixins";

.map {
  height: 426px;

  position: relative;

  @include media_interval($media_mobile, $media_tablet) {
    height: 390px;
  }

  @include media_interval(0, $media_mobile) {
    height: 534px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    @include media_interval(0, $media_mobile-medium) {
      object-position: bottom;
    }
  }

  &__popup {
    padding: 34px 44px 43px;

    position: absolute;
    top: 57px;

    background-color: $c_green;
    width: 380px;

    @include media_interval($media_mobile, $media_tablet) {
      top: 73px;
      padding: 24px 23px 26px 41px;
      width: 354px;
    }

    @include media_interval(0, $media_mobile) {
      top: 40px;
      padding: 34px 44px 36px 20px;
      width: 100%;
      max-width: 335px;
    }
  }

  &__popup-title {
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;

    color: $c_white;

    margin-top: 0;
    margin-bottom: 17px;

    @include media_interval(0, $media_tablet) {
      margin-bottom: 25px;
      font-size: 24px;
      line-height: 29px;
    }

    @include media_interval(0, $media_mobile) {
      margin-bottom: 14px;
    }
  }

  &__popup-text,
  &__popup-link {
    font-size: 15px;
    line-height: 18px;

    color: $c_white;

    margin-top: 17px;
    margin-bottom: 23px;
  }

  &__popup-text {
    @include media_interval($media_mobile, $media_tablet) {
      margin-bottom: 16px;
    }

    @include media_interval(0, $media_mobile) {
      margin-top: 14px;
    }
  }

  &__popup-link {
    transition: opacity $tr_duration $tr_easing;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__popup-button {
    margin-top: 23px;

    @include media_interval(0, $media_mobile) {
      padding: 11px;
      width: 217px;
    }
  }
}