@import "../colors";

.map {
  background-image: url("/static/images/map.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 426px;

  position: relative;

  &__popup {
    padding: 34px 44px 43px;

    position: absolute;
    top: 57px;

    background-color: $c_green;
    width: 380px;
  }

  &__popup-title {
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;

    color: $c_white;

    margin-top: 0;
    margin-bottom: 17px;
  }

  &__popup-text,
  &__popup-link {
    font-size: 15px;
    line-height: 18px;

    color: $c_white;

    margin-top: 17px;
    margin-bottom: 23px;
  }

  &__popup-link {
    &:hover {
      opacity: 0.7;
    }

    &:active  {
      opacity: 0.5;
    }
  }

  &__popup-button {
    margin-top: 23px;
  }
}