<div class="map">
    <picture class="map__img-wrapper">
        <source srcset="/static/images/map-desktop.jpg, /static/images/map-desktop_2x.jpg 2x"
                media="(min-width: 1024px)">
        <source srcset="/static/images/map-tablet.jpg"
                media="(min-width: 580px) and (max-width: 1023px)">
        <source srcset="/static/images/map-mobile.jpg"
                media="(max-width: 579px)">
        <img src="@@src-desktop"
             alt="Why us"
             class="map__img">
    </picture>
    <div class="map__inner container">
        <section class="map__popup">
            <h2 class="map__popup-title">Chem-Dry</h2>
            <p class="map__popup-text">9420 Cedar CT, Thornton, CO 80229</p>
            <a class="map__popup-link" href="tel:+7206059399">(720) 605-9399</a>
            @@include('./link/index.html', {
            "class": "map__popup-button button_purple",
            "link": "#",
            "text": "Learn More",
            "type": "link"
            })
        </section>
    </div>
</div>