<div class="map">
    <!--    <picture class="map__img-wrapper">-->
    <!--        <source srcset="/static/images/map-desktop.jpg, /static/images/map-desktop_2x.jpg 2x"-->
    <!--                media="(min-width: 1024px)">-->
    <!--        <source srcset="/static/images/map-tablet.jpg"-->
    <!--                media="(min-width: 580px) and (max-width: 1023px)">-->
    <!--        <source srcset="/static/images/map-mobile.jpg"-->
    <!--                media="(max-width: 579px)">-->
    <!--        <img src="@@src-desktop"-->
    <!--             alt="Why us"-->
    <!--             class="map__img">-->
    <!--    </picture>-->
<!--    <iframe class="map__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1186.2567864917417!2d49.28878528431537!3d53.512884213796916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41687981eb958267%3A0x6ccac75f60f1136c!2z0JDQstGC0L7Qt9Cw0LLQvtC00YHQutC40Lkg0YAt0L0sINCi0L7Qu9GM0Y_RgtGC0LgsINCh0LDQvNCw0YDRgdC60LDRjyDQvtCx0LsuLCA0NDUwMjc!5e0!3m2!1sru!2sru!4v1598364872432!5m2!1sru!2sru"-->
<!--            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"-->
<!--            tabindex="0"></iframe>-->
<!--    <iframe class="map__map" src="https://yandex.ru/map-widget/v1/?um=constructor%3A6dbe09787f01eb00b994759721b857a6793584e8a1b55f83cae8dbfc21e0d9b3&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>-->
<!--    <iframe class="map__map" src="https://yandex.ru/map-widget/v1/?um=constructor%3A6dbe09787f01eb00b994759721b857a6793584e8a1b55f83cae8dbfc21e0d9b3&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>-->
    <iframe class="map__map" src="https://yandex.ru/map-widget/v1/?um=constructor%3A6dbe09787f01eb00b994759721b857a6793584e8a1b55f83cae8dbfc21e0d9b3&amp;source=constructor" width="1280" height="400" frameborder="0"></iframe>
    <div class="map__inner container">
        <section class="map__popup">
            <h2 class="map__popup-title">Chem-Dry</h2>
            <p class="map__popup-text">9420 Cedar CT, Thornton, CO 80229</p>
            <a class="map__popup-link" href="tel:+7206059399">(720) 605-9399</a>
            @@include('./link/index.html', {
            "class": "map__popup-button button_purple",
            "link": "#",
            "text": "Learn More",
            "type": "link"
            })
        </section>
    </div>
</div>