@import "../colors";
@import "../vars";

.button {
  padding: 11px;

  width: 181px;

  font-weight: bold;
  font-size: 15px;
  line-height: 18px;

  text-align: center;
  text-transform: uppercase;

  background-color: $c_green;

  color: #FFFFFF;

  display: block;

  border: none;

  cursor: pointer;
  transition: background-color $tr_duration $tr_easing;

  &:hover {
    background-color: $c_green--light;
  }

  &:active {
    background-color: $c_green--dark;
  }

  &_purple {
    background-color: $c_purple;

    &:hover {
      background-color: $c_purple--light;
    }

    &:active {
      background-color: $c_purple--dark;
    }
  }
}