@import "../colors";

.button {
  padding: 11px;

  width: 181px;

  font-weight: bold;
  font-size: 15px;
  line-height: 18px;

  text-align: center;
  text-transform: uppercase;

  background-color: $c_green;

  color: #FFFFFF;

  display: block;

  border: none;

  cursor: pointer;
}

.button:hover {
  background-color: $c_green--light;
}

.button:active {
  background-color: $c_green--dark;
}

.button_purple {
  background-color: $c_purple;
}

.button_purple:hover {
  background-color: $c_purple--light;
}

.button_purple:active {
  background-color: $c_purple--dark;
}